* {
    box-sizing: border-box;
  }
  
  .myInput {
    background-position: 10px 10px;
    color:black ;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    /* padding: 12px 20px 12px 40px; */
    /* border: 1px solid #ddd; */
    /* margin-bottom: 12px; */
    flex-direction: row;
    align-items: center;
  }

  .content-input1{
    width: 30%;
    background-color: red;
  }

  .content-input2{
    width: 70%;
    background-color: blue;
  }


  
